/* LESS Document */

// cd /Users/meganbecker/Documents/Art\ /Interaction/Bootstrap/InternshipInventory
// grunt watch

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}


.nav li a {
	/*color: black;*/
}

.nav-bg{
	background: white;
}

.navbar-header {
	min-height: 80px;
}
	
.navbar-brand {
	padding: 10px 10px;
}
	
.homepage1 {
	text-align: center;
	margin-top: 125px;
	margin-bottom: 50px;
}

.homepageimage {
	text-align: center;
	margin-top: 100px;
	height: 400px;
	background-image: url("../../Images/homepage2.jpg");
	background-repeat: no-repeat;
    background-size: cover;
	color: white;
	/*display: compact;*/
}

.homepageimage2 {
	margin-top: 75px;
	text-align: center;
	/*height: 800px;*/
	background-image: url("../../Images/homepage4.jpg");
	background-repeat: no-repeat;
    background-size: cover;
	color: white;
	/*display: compact;*/
}

.homepage2 {
	margin-top: 25px;
	text-align: center;
	padding-top: 50px;
	background-color: rgba(236, 178, 31, .8);
	color: white;
	}

.homepage3 {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #EFEFEF;
	}
	
.homepage4 {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #B0B0B0;
	text-align: right;
}
	
.homepage5 {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: left;
	background-color: #B0B0B0;
	}	
		
	
.homepage6 {
	padding-top: 50px;
	text-align: center;
	background-color: #EFEFEF;
}	

.homepage7 {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: left;
	background-color: #EFEFEF
}
	
	
.image {
	margin: 0 auto;
	margin-top: 20px;
	}
	
.headerimage {
	margin-right: auto;
} 

html, body {
    height: 100%;
}

/* give the wrapper a padding-bottom and negative margin-bottom equal to the footer height */

.footer {
	text-align: center;
	padding-top: 30px;
	background-color: #323232;
}

.homepagerows {
	padding-bottom: 50px;
	}

.cover{
    color: rgb(255, 255, 255);
    position: relative;
    min-height: 350px;
    background:  no-repeat scroll 0px 100% / cover transparent;
}

.bg {
  background: no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; 
  top:0;
  left:0;
  z-index: -1;
}


.footertext {
	color: #BDBDBD;
	line-height: 1em;
	padding-bottom: 20px;
	}
	
.fonticons {
	padding-bottom: 15px;
	}