/* LESS Document */
// cd /Users/meganbecker/Documents/Art\ /Interaction/Bootstrap/InternshipInventory
// grunt watch

.nav li a {
	color: black;
	algin-content: right;
}
	
.homepage1 {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.homepage2 {
	text-align: center;
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	}

.homepage3 {
	background-color: #D9D9D9;
	padding-top: 50px;
	padding-bottom: 50px;
	}
	
.homepage4 {
	padding-top: 50px;
	padding-bottom: 50px;
	}	
	
.homepage5 {
	text-align: left;
	padding-top: 50px;
	padding-bottom: 50px;
	}	
	
.homepage6 {
	text-align: left;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #D9D9D9;
	}		

	
.image {
	margin: 0 auto;
	}
	
.headerimage {
	margin-right: auto;
	}
	
.nav-bg{
	background: white;
} 

html, body {
    height: 100%;
}

/* give the wrapper a padding-bottom and negative margin-bottom equal to the footer height */

.wrapper {
    min-height: 11%;
    height: 10px;
    margin: 0 auto -100px;
    padding-bottom: 10px;
	text-align: center;
	background-color: white;
}

.footer {
    height: 20px;
	text-align: center;
}

.homepagerows {
	padding-bottom: 50px;
	}

.cover{
    color: rgb(255, 255, 255);
    position: relative;
    min-height: 350px;
    background:  no-repeat scroll 0px 100% / cover transparent;
}

.bg {
  background: no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; 
  top:0;
  left:0;
  z-index: -1;
}