sudo: false
language: php
php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - hhvm

install:
    - nvm install 6
    - npm install -g yarn
    - yarn global add bower
    #- "npm config set spin false"
    #- npm install -g bower
    - yarn install

script:
    - ".travis-build/phplint ."
    - phpunit

after_script:
    - vendor/bin/test-reporter

after_success:
    - npm run build
    - rm -rf node_modules
    - tar -czf Internshipinventory.tar.gz *

addons:
  code_climate:
    repo_token: 3060bdda5db8f779d82ab527acadec5cd581bde782093136322604a4280162e7

notifications: 

deploy:
    provider: releases
    skip_cleanup: true
    api_key:
      secure: lPFLb25Gwb/X8aBiNQ4Mz2b5XBviLLg0Zp7Rgoj9Xc8ZwFlNw/JqnoLKnZFljXBW38yUt3fEyxUGFrImLDbwwzN6+1iOfjVrCrIYdJtKf1CoF9Mq1+bjUbz8wIXfvdIvuF+VxFWFcbFtUiTiVpeDkSBwWXLaazCZWQJZpWYZuQc=
     file: Internshipinventory.tar.gz
    overwrite: true
    on:
      repo: AppStateESS/InternshipInventory
      branch: termDates
      tags: true