/**** Text Styles ****/

.text.disabled {
	color: #666;
}

.text.smaller {
	font-size: 11px;
}

.text.italic {
	font-style:italic;
}

/**** Spinner *****/
.spinner {
	margin-left: 80px;
}

#link-list {
    float: right;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 10pt;
}

.add {
	background: url('../img/contact-new.png') no-repeat 8px 50%;
    padding-left: 65px;
}


#delete-document-icon {
    padding-left: 10px;
}

#everyone-list {
    list-style-type: none;
    list-style-image: none;
}

#everyone-list li {
    margin-left: -15px;
    font-size: 12pt;
    margin-bottom: 10px;
}

#main-menu-icon {
    float: right;
    position: relative;
    margin-top: 50px;
    right: 250px;
    padding-bottom: 50px;
}

.search-icon {
    background: url('../img/edit-find.png') no-repeat 8px 50%;
    padding-left: 60px;
    line-height: 50px;
}

.add-icon {
    background: url('../img/contact-new.png') no-repeat 8px 50%;
    padding-left: 60px;
    line-height: 50px;
}

.search-results-icon {
    background: url('../img/intern_search_results_icon.png') no-repeat 8px 50%;
    padding-left: 60px;
    line-height: 50px;
}

#intern-totals {
    /*font-weight: bold;*/
    padding-top: 30px;
    font-size: 10pt;
    margin-bottom: -10px;
}

.edit-prog {
    color: #0A759B;
    cursor: pointer;
}

.hidden-prog {
    font-style: italic;
    color: #888888;
}

.toggle1 {
    background-color:#FFFFFF;
}

.toggle2 {
    background-color:#FFFDCC;
}

.expanded {
    position:relative;
    left:25px;
}

.expanded td {
    padding-left:5px;
    padding-right:5px;
}

.document-list img {
    vertical-align: middle;
    margin-top: -2px;
}

#department-pager {
    margin-right: auto;
    margin-left: auto;
}

#major-pager {
    margin-right: auto;
    margin-left: auto;
}

#admin-pager {
    margin-right: auto;
    margin-left: auto;
}

/******************************************
 * Styles for the add/edit internshp form *
 *****************************************/
 

.contact-delete-link {
	margin-left: 2px;
	margin-right: 75px;
	float:right;
	font-size:1.75em;
}

.contact-delete-link:hover {
	cursor: pointer;
	color: red;
}
/************************************/

/*** Change log styles ***/
#changelog h3 {
	border-bottom: 1px solid #D6D6D6;
	color: #999;
	font-size:100%;
	font-weight:normal;
}

#changelog .exact-date {
	float:right;
}

#changelog .comment {
	margin-left: 2em;
}

/******** Search Form Styles ****************/

/****** Search Results Styles **************/
#search-results {
	border-collapse:collapse;
}

tr.result-row:hover{
	background:#DDD;
}

tr.result-row td a {
	display:block;
	height:100%;
	width:100%;
	
	color:#000;
	text-decoration:none;
}

tr.tablerow-bg-color1 {
	background:#FFF;
}

tr.tablerow-bg-color2 {
    background:#F0F0F0;
}


/** Gives a slightly larger button **/
.largerButton {
	font-size:1.3em;
	line-height:1.3em;
}
.empty-message {
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.missing {
    border: 2px solid #FF5D5D;
}

.internship-details {
    padding-bottom: 30px;
    float: left;
    padding-top: 16px;
}

.internship-details th {
    background: none;
    border-bottom: 3px dotted #C0C0C0;
}

.detail-header {
    font-size: 12pt;
    padding-top: 10px;
    color: #555555;
}

.document-list h4{
    margin-left: -20px;
    background: none;
    border-bottom: 3px dotted #C0C0C0;
}
.document-list {
    margin-left: -20px;
}

#internship_notes {
    width: 100%;
}

#search-results {
    width: 100%;
}

#name-term-dept-search {
    border: 1px solid #C0C0C0;
    border-left: 10px solid #C0C0C0;
    margin-left: -8px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.search-header {
    text-align: right;
    font-weight: bold;
    font-size: 10pt;
}

.disabled-button {
    color: silver;
    border: 1px solid silver;
}

.ui-autocomplete {
    width: 100px;
}

/* Overriding default formatting of asterisk
   for required fields in Form class */
.required-input {
    font-size: 16pt;
    position: relative;
    top: 5px;
}
/** Notification styles **/
div.notification {
	padding: 5px;
    background: #FFC;
    border:1px solid #F4C20A;
    borer-radius:5px;
    margin: 5px;
}

p.nq {
	line-height: 32px;
    padding-left: 32px;
    margin:0;
}

p.nq.success {
	background: url('../img/rrze/22x22/status/available.png') no-repeat 2px 50%;
	color: #090;
}

p.nq.warning {
	background: url('../img/rrze/22x22/status/important.png') no-repeat 2px 50%;
    color: #C60;
}

p.nq.error {
	background: url('../img/rrze/22x22/status/not-available.png') no-repeat 2px 50%;
    color: #900;
}

p.nq.unknown {
    background: #E8E8E8;
}
