.page-title {
    font-size:16pt;
    font-weight:bold;
}

.toggle1 {
    background-color:#FFFFFF;
}

.toggle2 {
    background-color:#FFFDCC;
}

.expanded {
    position:relative;
    left:25px;
}

.exptd {
    padding-left:5px;
    padding-right:5px;
}

.dialog {
}
