.page-title {
    font-size:16pt;
    font-weight:bold;
}

.sub-page-title {
    font-size: 12pt;
    font-weight: bold;
}

#link-list {
    float: right;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 10pt;
}

#menu {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.menu-list {
    display: inline-block;
    text-align: left;
}

.deity-list {
    display: inline-block;
    text-align: left;
}

.menu-list li {
    font-weight: bold;
    font-size: 12pt;
}

.edit-major-prog {
    color: #0A759B;
    cursor: pointer;
}

.hidden-major-prog {
    font-style: italic;
    color: #888888;
}

.toggle1 {
    background-color:#FFFFFF;
}

.toggle2 {
    background-color:#FFFDCC;
}

.expanded {
    position:relative;
    left:25px;
}

.expanded td {
    padding-left:5px;
    padding-right:5px;
}

.document-list img {
    vertical-align: middle;
    margin-top: -2px;
}

#department-pager {
    margin-right: auto;
    margin-left: auto;
}

#major-pager {
    margin-right: auto;
    margin-left: auto;
}

#admin-pager {
    margin-right: auto;
    margin-left: auto;
}

#internship-form {
    margin-top: -36px;
}

#internship-form .sub-form {
    border: 1px solid #C0C0C0;
    border-top: 24px solid #E3E3E3;
}

.info-header {
    position: relative;
    top: 35px;
    left: 5px;
}

.empty-message {
    font-weight: bold; 
    text-align: center; 
    font-style: italic;
}

.missing {
    border: 2px solid #FF5D5D;
}

.internship-details {
    padding-bottom: 30px;
    float: left;
    padding-top: 16px;
}

.internship-details th {
    background: none;
    border-bottom: 3px dotted #C0C0C0;
}

.detail-header {
    font-size: 12pt;
    padding-top: 10px;
    color: #555555;
}

.document-list h4{
    margin-left: -20px;
    background: none;
    border-bottom: 3px dotted #C0C0C0;
}
.document-list {
    margin-left: -20px;
}

#search-results {
    width: 100%;
}

#logout-link {
    float: right;
}

#name-term-dept-search {
    border: 1px solid #C0C0C0;
    border-left: 10px solid #C0C0C0;
    margin-left: -8px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.search-header {
    text-align: right;
    font-weight: bold;
    font-size: 10pt;
}

.disabled-button {
    color: silver;
    border: 1px solid silver;
}

/* Overriding default formatting of asterisk 
   for required fields in Form class */
.required-input {
    font-size: 16pt;
    position: relative;
    top: 5px;
}
/** Notification styles **/
.nq-container {
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 10pt;
}
.notification.nq-success {
    background: #66FF66;
    border: 1px solid #00DD00;
}

.notification.nq-error {
    background: #FF6666;
    border: 1px solid #DD0000;
}

.notification.nq-warning {
    background: #FFFF66;
    border: 1px solid #DDDD00;
}

.notification.nq-unknown {
    background: #E8E8E8;
    border: 1px solid #777777;
}
